<!-- index.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Criador de Poemas Baseado em ChatGPT</title>
  </head>
  <body>
    <h1>Criador de Poemas Baseado em ChatGPT</h1>
    <h5>Digite alguns temas para a poesia</h5>
    <form action="/poema" method="post">
      <textarea name="temas" rows="5" cols="30" placeholder="Digite,por exemplo: amor, namorada, paixão"></textarea><br>
      <input type="submit" value="Criar Poema">
    </form>
  </body>
</html>
